<!--"""-->
<!--Шаблон детальной профиля сотрудника.-->
<!--"""-->

{% extends "base.html" %}
{% block title %}
    Personal info
{% endblock %}
{% block body %}
    <div class="h3">Personal data</div>
    <p>
        <strong>Login as {{ user.username }}</strong>
    </p>
    <div>
        <ul>
            <li><strong>Почта/Email: </strong>{{ user.email }}</li>
            <li><strong>Имя/Name: </strong>{{ user.first_name }}</li>
            <li><strong>Фамилия/Last Name: </strong>{{ user.last_name }}</li>
            <li><strong>Должность/Position: </strong>{{ user.position }}</li>
            <li><strong>О себе/About me: </strong>{{ user.about_me }}</li>
            <li><strong>Курс/Course: </strong>{{ user.course.name }}</li>
        </ul>
    </div>
    <a class="btn btn-outline-warning" href="{% url 'employee_update' pk=user.pk %}">Update info</a>
    <a class="btn btn-outline-primary my-3"
       href="{% url 'courses_list' %}"
    >Back to courses list</a>
{% endblock %}